body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

button {
  cursor: pointer;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
}

/* header */

header a:hover {
  color: #2196f3;
}

.header_navigate a {
  font-size: 14px;
  line-height: 1.14px;
  color: #212121;
}

/* index */
.information h3 {
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.information p {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.contact a {
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

/* main */
.main_top {
  background-color: #2f303a;
}
.main_top h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.main_work h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.main_team h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.main_team h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.main_team p {
  font-size: 14px;
  line-height: 1.18;
  color: #757575;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.address a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
.footer a:hover {
  color: #2196f3;
}
.map {
  color: #ffffff;
}

/* Портфолио */
.project h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.project p {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
